<div class="header">
  <div class="wrap">
    <div class="tab_area">
      <ul class="row nav justify-content-end no-gutters">
        <li class="col-sm-2 nav-item justify-content-start"><a href="/users/sign_up"><span class="d-non d-sm-inline pl-1"><i class="far fa-lightbulb"></i>新規登録</span></a></li>
        <li class="col-sm-2 nav-item1 justify-content-start"><i class="far fa-lightbulb"></i><span class="d-non d-sm-inline pl-1">ログイン</span></li>
      </ul>
    </div>
    <div class="user_panel_area">
      <ul class="row justify-content-center no-gutters">
        <div class="col-11">
          <div class="product_name">
            <li>
              <h2>ログインはこちら</h2>
            </li>
          </div>
          <div class="row justify-content-between border_bg">
            <div class="col-10">
              <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <div class="box-email">
                <%= f.label :email %>
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'email' %>
              </div>
              <div class="box-password">
                  <%= f.label :password %>
                  <%= f.password_field :password, autocomplete: "current-password", class: 'pass' %>
              </div>
              <% if devise_mapping.rememberable? %>
              <div class="field">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
              </div>
              <% end %>
            </div>
          </div>
          <div class="actions">
            <%= f.submit "ログイン", class: 'btn-usr' %>
            <% end %>
          </div>
        </div>
      </ul>
    </div>
  </div>
</div>