<div class="dropdown">
<ul>
<li  class="dropdown_menu">
  <ul>
    <li><%= link_to("5", "/stock_list/5") %></li>
    <li><%= link_to("15", "/stock_list/15") %></li>
    <li><%= link_to("30", "/stock_list/30") %></li>
    <li><%= link_to("50", "/stock_list/50") %></li>
  </ul>
  </li>
  </ul>
  <label>件ずつ表示する</label>
</div>
<div class="stocks">
<% @stocks.each do |stock| %>
<ul class="row no-gutters">
  <label class="col-12">
    <div class="product_name">
      <li>
        <div class="sticky">
          <% if stock.favorites %>
          <%= link_to " お気に入り", stock_path(stock, stock: {favorites: false}), method: :put, class: 'fas fa-heart btn-sticky-fev1' %>
          <% else %>
          <%= link_to " add love", stock_path(stock, stock: {favorites: true}), method: :put, class: 'far fa-heart btn-sticky-fev0' %>
          <% end %>

          <% if stock.tags %>
          <%= link_to " ふせん", stock_path(stock, stock: {tags: false}), method: :put, :class => "fas fa-star btn-sticky-tag1" %>
          <% else %>
          <%= link_to " ふせんする", stock_path(stock, stock: {tags: true}), method: :put, :class => "far fa-star btn-sticky-tag0" %>
          <% end %>
        </div>
        <h2 class="check_box"><%= check_box_tag 'stocks_ids[]', stock.id %></h2>
        <h2><%= stock.product_name %></h2>
      </li>
    </div>
    <div class="row justify-content-between border_bg">
      <div class="col-10">
        <li> ｜ 賞味期限 ｜ <%= stock.expiration %> ｜ </li><br />
        <% if stock.open_date.present? %>
        <li> ｜ 開封日 ｜ <%= stock.open_date %> ｜ </li><br />
        <% end %>
        <li> ｜ メーカー・購入店舗等 ｜ <%= stock.detail %></li><br />
        <% if stock.content.present? %>
        <li> ｜ 詳細・メモ ｜ <%= stock.content %></li>
        <% end %>
      </div>
      <div class="col-1 justify-content-end d-flex align-items-end">
        <div class="btn-group" role="group" aria-label="Basic example">
          <li class="edit"><%= link_to '編集する', "/stocks/#{stock.id}/edit", method: :get %></li>
          <li class="delete"><%= link_to '削除する', "/stocks/#{stock.id}/", method: :get %></li>
        </div>
      </div>
    </div>
  </label>
</ul>
<% end %>
</div>
<%= will_paginate @stocks %>