<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    <%= @page %>
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <% if current_page?(stocks_path) %>
    <li><%= link_to(" 5", "/stock_list/5") %></li>
    <li><%= link_to("15", "/stock_list/15") %></li>
    <li><%= link_to("30", "/stock_list/30") %></li>
    <li><%= link_to("50", "/stock_list/50") %></li>
    <% end %>  
    <% if current_page?(index_past_path) %>
    <li><%= link_to(" 5", "/past_list/5") %></li>
    <li><%= link_to("15", "/past_list/15") %></li>
    <li><%= link_to("30", "/past_list/30") %></li>
    <li><%= link_to("50", "/past_list/50") %></li>
    <% end %>
  </ul>
  <label>件ずつ表示する</label>
</div>
