 <div class="wrap">
	<%= render 'stocks/layouts/tab' %>
	<div class="panel_area">
		<ul class="row no-gutters">
			<label class="col-12">
				<div class="product_name">
					<li>
						<h2 class="check_box"><input type="checkbox"></h2>
						<h2>サヴァ缶</h2>
					</li>
				</div>
				<div class="row justify-content-between border_bg">
					<div class="col-10">
						<li> ｜ 賞味期限 ｜ 2020-07-01 ｜ </li><br />
						<li> ｜ 開封日 ｜ 2020-07-01 ｜ </li><br />
						<li> ｜ メーカー・購入店舗等 ｜ 岩手県産</li>
					</div>
					<div class="col-1 justify-content-end d-flex align-items-end">
						<div class="btn-group" role="group" aria-label="Basic example">
							<li class="edit"><%= link_to '編集する', "#", method: :get %></li>
							<li class="delete"><%= link_to '削除する', "#", method: :delete %></li>
						</div>
					</div>
				</div>
			</label>
		</ul>
		<ul class="row no-gutters">
			<label class="col-12">
				<div class="product_name">
					<li>
						<h2 class="check_box"><input type="checkbox"></h2>
						<h2>切り干し大根</h2>
					</li>
				</div>
				<div class="row justify-content-between border_bg">
					<div class="col-10">
						<li> ｜ 賞味期限 ｜ 2020-07-01 ｜ </li><br />
						<li> ｜ 開封日 ｜ 2020-07-01 ｜ </li><br />
						<li> ｜ メーカー・購入店舗等 ｜ 岩手県産<br />購入店　イオン</li>
					</div>
					<div class="col-1 justify-content-end d-flex align-items-end">
						<div class="btn-group" role="group" aria-label="Basic example">
							<li class="edit"><%= link_to '編集する', "#", method: :get %></li>
							<li class="delete"><%= link_to '削除する', "#", method: :delete %></li>
						</div>
					</div>
				</div>
			</label>
		</ul>
		<ul class="row no-gutters">
			<label class="col-12">
				<div class="product_name">
					<li>
						<h2 class="check_box"><input type="checkbox"></h2>
						<h2>サヴァ缶</h2>
					</li>
				</div>
				<div class="row justify-content-between border_bg">
					<div class="col-10">
						<li> ｜ 賞味期限 ｜ 2020-07-01 ｜ </li><br />
						<li> ｜ 開封日 ｜ 2020-07-01 ｜ </li><br />
						<li> ｜ メーカー・購入店舗等 ｜ 岩手県産</li>
					</div>
					<div class="col-1 justify-content-end d-flex align-items-end">
						<div class="btn-group" role="group" aria-label="Basic example">
							<li class="edit"><%= link_to '編集する', "#", method: :get %></li>
							<li class="delete"><%= link_to '削除する', "#", method: :delete %></li>
						</div>
					</div>
				</div>
			</label>
		</ul>
	</div>
	<div class="btn-group" role="group" aria-label="Basic example">
			<%= submit_tag "まとめて編集", :name => "edit_all" , :class => "btn btn-outline-info" %>
			<%= submit_tag "一括削除", :name => 'delete_all', :class => "btn btn-outline-warning" %>
	</div>
</div>
