
 <div class="wrap">
	<div class="tab_area">
		<ul class="row nav justify-content-center no-gutters">
			<li class="col-sm-2 nav-item justify-content-start">
			<a href="/stocks">
			<i class="far fa-lightbulb"></i>
			<span class="d-non d-sm-inline pl-1">あなたの在庫</span></a>
			</li>
			<li class="col-sm-2 nav-item justify-content-start">
			<a href="/index_near">
			<i class="far fa-bell"></i>
			<span class="d-non d-sm-inline pl-1">賞味期限間近</span></a>
			</li>
			<li class="col-sm-2 nav-item justify-content-start">
			<a href="/index_expire">
			<i class="fas fa-exclamation-triangle"></i>
			<span class="d-non d-sm-inline pl-1">賞味期限切れ</span></a>
			</li>
		</ul>
	</div>
	<div class="panel_area">
		<ul class="row no-gutters">
			<label class="col-12">
				<div class="product_name">
					<li>
						<h2 class="check_box"><input type="checkbox"></h2>
						<h2>サヴァ缶</h2>
					</li>
				</div>
				<div class="row justify-content-between border_bg">
					<div class="col-10">
						<li> ｜ 賞味期限 ｜ 2020-07-01 ｜ </li><br />
						<li> ｜ 開封日 ｜ 2020-07-01 ｜ </li><br />
						<li> ｜ 詳細・メモ ｜ 岩手県産</li>
					</div>
					<div class="col-1 justify-content-end d-flex align-items-end">
						<div class="btn-group" role="group" aria-label="Basic example">
							<li class="edit"><%= link_to '編集する', "#", method: :get %></li>
							<li class="delete"><%= link_to '削除する', "#", method: :delete %></li>
						</div>
					</div>
				</div>
			</label>
		</ul>
		<ul class="row no-gutters">
			<label class="col-12">
				<div class="product_name">
					<li>
						<h2 class="check_box"><input type="checkbox"></h2>
						<h2>切り干し大根</h2>
					</li>
				</div>
				<div class="row justify-content-between border_bg">
					<div class="col-10">
						<li> ｜ 賞味期限 ｜ 2020-07-01 ｜ </li><br />
						<li> ｜ 開封日 ｜ 2020-07-01 ｜ </li><br />
						<li> ｜ 詳細・メモ ｜ 岩手県産<br />購入店　イオン</li>
					</div>
					<div class="col-1 justify-content-end d-flex align-items-end">
						<div class="btn-group" role="group" aria-label="Basic example">
							<li class="edit"><%= link_to '編集する', "#", method: :get %></li>
							<li class="delete"><%= link_to '削除する', "#", method: :delete %></li>
						</div>
					</div>
				</div>
			</label>
		</ul>
		<ul class="row no-gutters">
			<label class="col-12">
				<div class="product_name">
					<li>
						<h2 class="check_box"><input type="checkbox"></h2>
						<h2>サヴァ缶</h2>
					</li>
				</div>
				<div class="row justify-content-between border_bg">
					<div class="col-10">
						<li> ｜ 賞味期限 ｜ 2020-07-01 ｜ </li><br />
						<li> ｜ 開封日 ｜ 2020-07-01 ｜ </li><br />
						<li> ｜ 詳細・メモ ｜ 岩手県産</li>
					</div>
					<div class="col-1 justify-content-end d-flex align-items-end">
						<div class="btn-group" role="group" aria-label="Basic example">
							<li class="edit"><%= link_to '編集する', "#", method: :get %></li>
							<li class="delete"><%= link_to '削除する', "#", method: :delete %></li>
						</div>
					</div>
				</div>
			</label>
		</ul>
	</div>
	<div class="btn-group" role="group" aria-label="Basic example">
			<%= submit_tag "まとめて編集", :name => "edit_all" , :class => "btn btn-outline-info" %>
			<%= submit_tag "一括削除", :name => 'delete_all', :class => "btn btn-outline-warning" %>
	</div>
</div>
