<div class="content">
  <div>
    <a href="/stocks/new">Get Stocked!</a>
    <h1>予約フォーム</h1>
  </div>
</div>
<% @stocks.each do |stock| %>
<ul>
  <label>
    <li>賞味期限　｜
      <%= stock.expiration %>｜
    </li>
    <li>詳細・メモ　｜
      <%= stock.detail %>｜
    </li>

    <% if stock.open_date.present? %>
    <li>開封日　｜
      <%= stock.open_date %>｜
    </li>
  </label>
</ul>


<%= form_for @reserve, method: :post, url: stocks_back_path do |form| %>
	<%= form.hidden_field :expiration %>
	<%= form.hidden_field :detail %>
	<%= form.hidden_field :note %>
	<%= form.submit '入力画面に戻る' %>
<% end %>

<%= form_for @reserve, method: :post, url: stocks_path do |form| %>
	<%= form.hidden_field :expiration %>
	<%= form.hidden_field :detail %>
	<%= form.hidden_field :open_date %>
	<%= form.submit '送信する' %>
<% end %>

    <%= submit_tag "一括削除" %>
  <% end %>
  </div>
</div>
