<div class="content">
  <div>
    <a href="/stocks/new">Get Stocked!</a>
    <%= form_with model: @stocks, url: update_all_path, method: :put do |form| %>
      <% @stocks.each do |stock| %>
        <%= fields_for 'stocks[]', stock do |field| %>
        <ul>
          <li>
            <%= field.label :product_name %>
            <%= field.text_field :product_name, placeholder: '商品名', value: stock.product_name %>
          </li>
          <li>
            <%= field.label :expiration %>
            <%= field.date_field :expiration, placeholder: '賞味期限', value: stock.expiration %>
          </li>
          <li>
            <%= field.label :detail %>
            <%= field.text_area :detail, placeholder: '詳細・メモ', value: stock.detail %>
          </li>
          <li>
            <%= field.label :open_date %>
            <%= field.date_field :open_date, placeholder: '開封日', value: stock.open_date %>
          </li> 

        </ul>
        <% end %>
      <% end %>
      <%= form.submit '一括編集', :name => "update_all" %>
    <% end %>
  </div>
</div>
