 <div class="wrap">
  <div class="tab_area">
    <ul class="row nav justify-content-center no-gutters">
      <li class="col-sm-2 nav-item1 justify-content-start">
      <i class="far fa-lightbulb"></i>
      <span class="d-non d-sm-inline pl-1">編集中</span>
      </li>
    </ul>
  </div>
  <div class="panel_area">
    <ul class="row no-gutters">
      <%= form_with model: @stock do |form| %>
        <div class="product_name">
        <li>
          <h2><%= form.text_field :product_name, placeholder: '商品名', value: @stock.product_name %></h2>
        </li>
        </div>
        <div class="row justify-content-between border_bg">
          <div class="col-10">
            <li>
              <%= form.label :expiration %>
              <%= form.date_field :expiration, placeholder: '賞味期限', value: @stock.expiration %>
            </li>
            <li>
              <%= form.label :open_date %>
              <%= form.date_field :open_date, placeholder: '開封日', value: @stock.open_date %>
            </li>
            <li>
              <%= form.label :detail %>
              <%= form.text_area :detail, placeholder: '詳細・メモ', value: @stock.detail %>
            </li>
            <%= form.submit %>
          </div>
        </div>
      <% end %>
    </ul>
  </div>
</div>
<a href="/stocks/">Home!</a>
