<div class="content">
  <div>
    <a href="/stocks/new">Get Stocked!</a>
    <%=link_to "ログアウト", destroy_user_session_path, method: :delete %>
    <%= form_tag("/confirm_stocks", method: :get) do %>

      <%= render partial: 'form.html.erb' %>

      <%= submit_tag "まとめて編集", :name => "edit_all" %>
      <%= submit_tag "一括削除", :name => 'delete_all' %>

    <% end %>

</div>
