<div class="container">
  <div class="row">
    <div class="col-12">
      <h3><%= current_user.user_name %>さん<a href="/stocks/new">Get Stocked!</a></h3>
      <div class="col-2 float-right">
        <%= button_to 'ログアウト', destroy_user_session_path, method: :delete, class: "btn btn-link"%> 
      </div>
    </div>
  </div>
  <div>
    <%= form_tag("/confirm_stocks", method: :get) do %>
      <%= render partial: 'form.html.erb' %>
      <div class="btn-group justify-content-center" role="group" aria-label="Basic example">
      <%= submit_tag "まとめて編集", :name => "edit_all" , :class => "btn btn-info" %>
      <%= submit_tag "一括削除", :name => 'delete_all', :class => "btn btn-warning" %>
      </div>
    <% end %>
  </div>
</div>

