<div class="header">
  <div class="row">
    <div class="col-9">
      <h3><%= current_user.user_name %>さん<a href="/stocks/new">Stocked UP!</a></h3>
    </div>
    <div class="col-3">
      <%= button_to 'ログアウト', destroy_user_session_path, method: :delete, :class => "btn btn-info" %>
    </div>
  </div>
</div>
<div class="wrap">
  <div class="tab_area">
    <ul class="row nav justify-content-end no-gutters">
      <li class="col-sm-2 nav-item1 justify-content-start">
        <i class="far fa-lightbulb"></i>
        <span class="d-non d-sm-inline pl-1">編集中</span>
      </li>
    </ul>
  </div>
  <div class="user_panel_area">
    <ul class="row no-gutters">
      <div class="col-11">
        <div class="product_name">
          <li>
            <div class="sticky">
              <a href="#" class="btn-sticky-1"><i class="far fa-heart"></i>お気に入り</a>
              <a href="#" class="btn-sticky-2"><i class="far fa-star"></i>ふせん</a>
            </div>
            <h2 class="check_box"></h2>
            <h2><%= @stock.product_name %></h2>
          </li>
        </div>
        <div class="row justify-content-between border_bg">
          <div class="col-10">
            <li> ｜ 賞味期限 ｜ <%= @stock.expiration %> ｜ </li><br />
            <% if @stock.open_date.present? %>
            <li> ｜ 開封日 ｜ <%= @stock.open_date %> ｜ </li><br />
            <% end %>
            <li> ｜ メーカー・購入店舗等 ｜ <%= @stock.detail %></li>
            <li> ｜ 詳細・メモ ｜ <%= @stock.content %></li>
          </div>
          <p>お気に入りに追加する</p>
          <%= link_to "編集する", "/stocks/#{@stock.id}/edit", method: :get %>
        </div>
        <%= button_to "削除しても良いですか？", "/stocks/#{@stock.id}/", method: :delete %>
      </div>
    </ul>
  </div>
</div>