<%= render 'stocks/layouts/header' %>
<div class="wrap">
  <div class="tab_area">
    <ul class="row nav justify-content-end no-gutters">
      <li class="col-sm-2 nav-item justify-content-start"><a href="/stocks"><i class="far fa-lightbulb"></i><span class="d-non d-sm-inline pl-1">あなたの在庫</span></a></li>
      <li class="col-sm-2 nav-item1 justify-content-start"><i class="far fa-lightbulb"></i><span class="d-non d-sm-inline pl-1">確認画面</span></li>
    </ul>
  </div>
  <div class="panel_area">
    <div class="stocks">
      <ul class="row no-gutters">
        <label class="col-12">
          <div class="product_name">
            <li>
              <%= render 'stocks/layouts/sticky' %>
              <h2><%= @stock.product_name %></h2>
            </li>
          </div>
          <div class="row justify-content-between border_bg">
            <div class="col-11">
              <li> ｜ 賞味期限 ｜ <%= @stock.expiration %> ｜ </li><br />
              <% if @stock.open_date.present? %>
              <li> ｜ 開封日 ｜ <%= @stock.open_date %> ｜ </li><br />
              <% end %>
              <li> ｜ メーカー・購入店舗等 ｜ <%= @stock.detail %></li><br />
              <li> ｜ 詳細・メモ ｜ <%= @stock.content %></li>
            </div>
            <div class="col-11 d-flex justify-content-end align-items-end btn-group">
              <% if @stock.consumed == false %>
                <li class="show_consumed"><%= link_to "再度在庫にする", stock_path(@stock, stock: {consumed: true}), method: :put %></li>
              <% else %>
                <li class="show_consumed"><%= link_to "消費済みにする", stock_path(@stock, stock: {consumed: false}), method: :put %></li>
              <% end %>
              <li class="show_delete"><%= link_to "削除 (今後購入しない場合)", "/stocks/#{@stock.id}/", method: :delete %></li>
            </div>
          </div>
        </label>
      </ul>
    </div>
  </div>
</div>