<div class="content">
  <a href="/stocks/">Home!</a>

  <%= @stock.product_name %>
  <%= @stock.expiration %>
  <%= @stock.detail %>
  <%= @stock.open_date %>

  <%= link_to "編集する", "/stocks/#{@stock.id}/edit", method: :get %>
  <%= button_to "削除する", "/stocks/#{@stock.id}/", method: :delete %>
</div>
