<div class="top">
  <% if user_signed_in? %>
  <div class="row d-flex justify-content-center">
    <h2>このページはサンプルです。</h2>
    <div class="col-12 text-center">
      <p>ただいま<%= current_user.user_name %>さんとしてログイン中です。</p>
      <%= button_to "Welcome to your home!", stocks_path, method: :get, class: "btn-usr" %>
      <%= button_to "ユーザー情報編集画面へ", edit_user_registration_path, method: :get, class: "btn-usr" %>
    </div>
  </div>
  <div class="row justify-content-end">
    <%= button_to 'ログアウト', destroy_user_session_path, method: :delete, class: "btn-usr" %>
    <% elsif %>
    <div class="row d-flex justify-content-center">
      <h2>このページはサンプルです。</h2>
      <div class="col-12 text-center">
        <%= button_to "ログイン画面へ", '/users/sign_in', method: :get, class: "btn-usr" %>
        <%= button_to "新規登録画面へ", '/users/sign_up', method: :get, class: "btn-usr" %>
      </div>
      <% end %>
    </div>
  </div>

  <div class="sample">
    <%= render 'stocks/layouts/sample' %>
  </div>