<div class="header">
  <div class="wrap">
    <div class="tab_area">
      <ul class="row nav justify-content-end no-gutters">
        <li class="col-sm-2 nav-item1 justify-content-start"><i class="far fa-lightbulb"></i><span class="d-non d-sm-inline pl-1">新規登録</span></li>
        <li class="col-sm-2 nav-item justify-content-start"><a href="/users/sign_in"><span class="d-non d-sm-inline pl-1"><i class="far fa-lightbulb"></i>ログイン</span></a></li>
      </ul>
    </div>
    <div class="user_panel_area">
      <ul class="row justify-content-center no-gutters">
        <div class="col-11">
          <div class="product_name">
            <li>
              <h2>新規登録はこちら</h2>
            </li>
          </div>
          <div class="row justify-content-between border_bg">
            <div class="col-10">
              <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              <%= render "users/shared/error_messages", resource: resource %>
              <div class="box-name">
                <%= f.label :user_name %>
                <%= f.text_field :user_name, autofocus: true %>
              </div>
              <div class="box-email">
                <%= f.label :email %>
                <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
              </div>
              <div class="box-password">
                <%= f.label :password %>
                <% if @minimum_password_length %><em>(<%= @minimum_password_length %> 文字以内)</em>
                <% end %>
                <%= f.password_field :password, autocomplete: "new-password" %>
              </div>
              <div class="box-password">
                <%= f.label :password_confirmation %>
                <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
              </div>
            </div>
          </div>
          <div class="actions">
            <%= f.submit "新規登録", class: 'btn-usr' %>
          </div>
        </div>
      </ul>
      <% end %>
    </div>
  </div>
</div>